.Guitar {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  /* overflow: scroll; */
  height: 100%;
  width: auto;
  margin-top: 50px;
}

.flagBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  color: rgb(174, 171, 171);
}

.flag3 {
  position: relative;
  right: 515px;
}
.flag5 {
  position: relative;
  right: 395px;
}
.flag7 {
  position: relative;
  right: 280px;
}
.flag9 {
  position: relative;
  right: 160px;
}
.flag12 {
  position: relative;
  left: 22px;
}
.flag15 {
  position: relative;
  left: 198px;
}
.flag17 {
  position: relative;
  left: 310px;
}
.flag19 {
  position: relative;
  left: 420px;
}
.flag21 {
  position: relative;
  left: 530px;
}
.flag24 {
  position: relative;
  left: 705px;
}

/* ------------ Formulaire --------------*/

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* align-content: center; */
}

.form-check {
  color: aliceblue;
  /* margin-right: 2px; */
}

.selectForm {
  width: 250px;
  margin-left: 50px;
}

.selectBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.buttonValid {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
}
