.Guitar {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  /* overflow: scroll; */
  height: 100%;
  width: auto;
  margin-top: 50px;
}

/* ------------ Formulaire --------------*/

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* align-content: center; */
}

.form-check {
  color: aliceblue;
  /* margin-right: 2px; */
}

.selectForm {
  width: 250px;
  margin-left: 50px;
}

.selectBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.buttonValid {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
}
